.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 5rem 0 2rem 0;
  border-radius: 4px;
  position: relative;
}

.box {
  width: 100%;
  height: 16rem;
  padding: 2rem;
  border: 2px solid #fd0000;
  border-radius: 50px;
}

.most {
  position: absolute;
  top: -1.2rem;
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 2rem;
}

.rowItem {
  display: flex;
  justify-content: space-between;
}

.columnItem {
  padding: 0 1rem;
  text-align: center;
  cursor: pointer;
  display: flex;
}

.number {
  font-size: 1.5rem;
  text-align: center;
  margin-right: 1rem;
}

.columnItem:not(:last-child) {
  border-right: 3px solid #fd0000;
  height: 11.8rem;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.text {
  font-size: 13px;
  max-width: 100%;
  font-weight: bold;
  text-align: left;
  flex-direction: row;
}
