.container {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

.boxLeft {
  width: 67%;
}

.boxRight {
  width: 30%;
}

.moreOption {
  display: flex;
  align-items: center;
  color: #9e9e9e;
  margin: 0.8rem 0 1rem;
}

.divider{
  width: 2px;
  background-color: #9e9e9e;
  height: 1.5rem;
  margin: 0 0.5rem;
}

.textDetailTopic {
  font-size: 2.6rem;
  font-weight: 700;
}

.textMoreOption {
  font-size: 1rem;
  margin: 0 0.5rem;
}

.textD {
  font-size: 1.1rem;
  padding: 1rem 0 2rem;
}


.customIcon {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 0.5rem;
}

.customIcon1 {
  width: 1.4rem;
  height: 1.4rem;
}

.customIcon2 {
  width: 1.4rem;
  height: 1.4rem;
}

.copyLink {
  align-items: center;
  font-size: 0.8rem;
  display: flex;
  margin-left: 0.7rem;
  background-color: #fd0000;
  border-radius: 20px;
  color: white;
  padding: 0.15rem 0.7rem;
}

