.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
  }
  
  .boxLeft {
    width: 67%;
  }
  
  .boxRight {
    width: 30%;
  }
  
  .category {
    display: flex;
    text-transform: uppercase;
    grid-column-gap: 2rem;
    text-align: center;
    align-items: flex-end;
  }
  
  .textChannel {
    font-weight: 500;
  }
  
  .textChannel:hover {
    color: #fd0000;
  }
  
  .textCategory {
    font-size: 1.5rem;
    font-weight: 900;
  }
  
  .highlight {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
    height: 25%;
  }
  
  .topHighlight {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
  }
  
  .moreHighlight {
    width: 48%;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 48% 48%;
    justify-content: space-between;
    grid-row-gap: 0.6rem;
  }
  
  .moreNews {
    text-overflow: ellipsis;
    overflow: hidden;
    /* white-space: nowrap; */
    font-size: 0.7rem;
  }
  
  .text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .latest {
    padding: 1.5rem;
    margin-top: 1rem;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 1.5rem;
  }
  
  .latestCard {
    display: flex;
  }
  
  .latestDetail {
    margin-left: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  
  .times {
    position: absolute;
    align-self: flex-end;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 0.5rem;
    color: #9e9e9e;
  }
  
  /* .mainTitle {
      font-size: 100px;
    }
    
    .container {
    }
    
    .selectTitle {
      margin: 20px 0px;
    }
    
    .items {
      display: flex;
      gap: 50px;
    }
    
    .item {
      border: 5px solid #bbb;
      border-radius: 5px;
      width: 300px;
      height: 400px;
      position: relative;
      background-size: cover !important;
    }
    
    .item:nth-child(1) {
      background: url("/illustration.png");
    }
    .item:nth-child(2) {
      background: url("/websites.jpg");
    }
    .item:nth-child(3) {
      background: url("/apps.jpg");
    }
    
    .title {
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: 40px;
      font-weight: bold;
    }
    
    .item:hover .title {
      color: #53c28b;
    }
     */
  