.container {
  margin-top: 4rem;
  height: 9rem;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #d9d9d9;
  padding: 0 7rem;
}

.boxLeft {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 0.5rem;
}
.boxRight {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 0.5rem;
  text-align: right;
  float: right;
}

.contact {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.8rem;
}
.social {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.4rem;
  align-items: center;
}

.icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.suggest {
  display: flex;
  align-items: center;
}

.divider {
  width: 0px;
  border-left: 1px solid black;
  height: 1rem;
  margin: 0 0.2rem;
}

.searchBox {
  display: block;
  min-height: 2rem;
  min-width: 15rem;
}

.input {
  min-height: 2rem;
  min-width: 13rem;
  padding-left: 0.5rem;
  border: 1px solid #d9d9d9;
}

.button {
  min-height: 2rem;
  min-width: 5rem;
  color: white;
  background-color: #fd0000;
  border: none;
  font-size: 0.8rem;
}
