.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
  }


  .row {
    display: flex;
    align-items: center;
    position: relative;
  }


  .category {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    flex-direction: row;
    position: relative;
  }
  
  .arrow {
    width: 100px;
    flex-direction: row;
    position: absolute;
    left: 80px;
    top: 4px;
}
  
  .separator {
    width: 100%;
    height: 3px;
    background-color: #f61b1b;
    margin-bottom: 20px;
  }


  

  .column {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
  }
  
  .item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .bigImageContainer {
    width: 90%;
    height: 350px;
    overflow: hidden;
  }
  
  .bigImage {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 3%;
  }
  
  .bigText {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    max-width: 90%;
    white-space: normal;
    word-wrap: break-word;
    text-align: left;
  }


  .smallColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .smallImageContainer {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .smallImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
  }
  
  .smallText {
    font-size: 14px;
    white-space: normal;
    word-wrap: break-word;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
  }