.container{
    width: 2.5rem;
    height: 1.5rem;
    border: 1.5px solid #53c28b70;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem;
    position: relative;
    cursor: pointer;
  }
  
  .icon{
    font-size: 0.75rem;
  }
  
  .ball{
    width: 0.9rem;
    height: 0.9rem;
    background-color: #53c28b;
    border-radius: 50px;
    position: absolute;
  }